@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
/* globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefbfb;
}

h2 {
  font-size: 3rem;
  color: #252525;
  text-align: center;
}

.hero {
  padding: 50px;
  background-color: #fcf304;
  color: white;
  text-align: center;
}

p {
  font-size: 1.2rem;
  margin-top: 20px;
}
