
/* Navbar.module.css */
.navbar {
    background-color: #0e0e0e;
    color: white;
    padding: 1rem 0;
    
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
   

  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #ff4081;
  }
  